#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resources.h"

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TEAM_NAME DIALOG 0, 0, 200, 120
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Team name"
FONT 8, "Ms Shell Dlg"
{
    EDITTEXT        IDC_TEAM_NAME, 15, 15, 170, 20, ES_AUTOHSCROLL
    PUSHBUTTON      "Submit", IDC_SUBMIT, 70, 60, 60, 25
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_LEADERBOARD DIALOG 0, 0, 300, 200
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Leaderboard"
FONT 8, "Ms Shell Dlg"
{
  
    CONTROL         "", IDC_LEADERBOARD, "SysListView32", LVS_REPORT | WS_BORDER | WS_TABSTOP, 15, 70, 270, 60

}
